@using TestProjet.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
}



<h2>Bienvenue, connectez-vous !</h2>
<div class="row">
    <div class="col-md-7">
        <img src="~/Content/Image/Commande/etape1.png" class="img-responsive" />
    </div>
    <div class="col-md-5">
        Montant de votre commande: @ViewBag.montant €
    </div>
</div>
<p>
    Pour effectuer votre commande, vous avez besoin d'etre connecté, cela ne prend que quelques minutes et vous pourrez suivre l'état de votre commande par la suite.
</p>


<div class="row">
    <div class="col-md-6">
        <h3> Je dispose d'un compte</h3>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Connexion" class="bouton" />
                    </div>
                </div>
                
            }
        </section>
    </div>
    <div class="col-md-6">
        <h3> Je n'ai pas encore de compte</h3>
        <hr/>
        @Html.ActionLink("Créer un compte", "Register" , null , new { @class = "bouton", @style = "color:white" })
       
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





