@model IEnumerable<TestProjet.Models.Panier>

@{
    ViewBag.Title = "Index";
}


<h2>Mon panier</h2>
<br/><br/>

<table>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th></th>
    </tr>
        @foreach (var item in ViewBag.contenuDuPanier)
        {
            <tr>
                <td id="panier_image_@item[0]" class="panier_image">
                    <img class="my_panier_image"src="@item[3]" />
                </td>
                <td id="panier_nomProduit_@item[0]" class="panier_nomProduit">
                    <a href="@Url.Action("Details","Produits", new { id = @item[0] })">@item[1]</a>
                </td>
                <td id="panier_qteProduit_@item[0]"class="panier_qteProduit ">
                    @item[5]
                </td>
                <td id="panier_prixProduit_@item[0]" class="panier_prixProduit ">
                    @item[4] €
                </td>
                <td id="panier_option_@item[0]" class="panier_option ">
                    @Html.ActionLink("Supprimer du panier", "DeleteFromPanier", "Paniers", new { id_produit = @item[0] }, new { @class = "bouton", @style = "color:white" })
                </td>
            </tr>
        }
</table>
<br/><br />
<div class="affichage_prix_total">
    Prix Total de votre panier : @ViewBag.prixPanier &euro;
</div>
<br /><br />

@Html.ActionLink("Passer la commande", "Etape1", "Commandes", null, new { @class = "bouton", @style = "color:white;float:right" })

<br/><br/><br/>