@model IEnumerable<TestProjet.Models.Panier>

@{
    ViewBag.Title = "Index";

   /* @using WebMatrix.Data;
    var db= Database.Open("EcommerceEntities");
    //var selectQueryString = "SELECT * FROM Product ORDER BY Name";
    */

}

<!--<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_produit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_produit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>-->
<h2>Mon panier</h2>
<br/><br/>
<table>
        @foreach (var item in ViewBag.contenuDuPanier)
        {
            <tr>
                <td id="panier_image_@item[0]" class="panier_image">
                    <img class="my_panier_image"src="@item[3]" />
                </td>
                <td id="panier_nomProduit_@item[0]" class="panier_nomProduit">
                    <a href="@Url.Action("Details","Produits", new { id = @item[0] })">@item[1]</a>
                </td>
                <td id="panier_qteProduit_@item[0]"class="panier_qteProduit ">
                    @item[5]
                </td>
                <td id="panier_prixProduit_@item[0]" class="panier_prixProduit ">
                    @item[4]
                </td>
                <td id="panier_option_@item[0]" class="panier_option ">
                    <div class="addPane addPane--buy addPane--Liste" id="addPane--Liste" onclick="deleteThisArticleOnPanier()">
                        Supprimer du panier
                    </div>
                </td>
            </tr>
        }
</table>
<div class="affichage_prix_total">
    prix total : @ViewBag.prixPanier &euro;
</div>

<script>



</script>


<!--  @using (Html.BeginForm())
               {
                       @Html.AntiForgeryToken()
                       <div class="form-actions no-color">
                           <input type="submit" value="Delete" class="btn btn-default" />
                       </div>
                   }-->
