@model IEnumerable<TestProjet.Models.Panier>

@{
    ViewBag.Title = "Index";

   /* @using WebMatrix.Data;
    var db= Database.Open("EcommerceEntities");
    //var selectQueryString = "SELECT * FROM Product ORDER BY Name";
    */

}

<!--<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_produit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_produit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>-->


<table>
    <tr>
        <th>
            image
        </th>
        <th>
            nom
        </th>
        <th>
            qte
        </th>
        <th>
            prix
        </th>
        <th>
            option
        </th>
    </tr>




        @foreach (var item in ViewBag.contenuDuPanier)
        {
            <tr>
                <td>
                    image
                </td>
                <td>
                    @item

                </td>
                <td>
                    @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    }
                </td>
            </tr>
        }
</table>
