@model IEnumerable<TestProjet.Models.Produit>

@{
    ViewBag.Title = "Index";
}
<br /><br />
    <div class="navigationBarre"> 
        <a class="navigationBarre" href="@Url.Action("index","Home")">Home</a> / @ViewBag.idPageName   
    </div>
<br/><br/>
<div class="cont-cat">
    @foreach (var item in Model)
    {
        <div class="item-cat">
            <div class="product--detail">
                <a href="@Url.Action("Details","Produits", new { id = item.id })">
                    <div>
                        <h3 class="text-center">@Html.DisplayFor(modelItem => item.nom_produit)</h3>
                        <img src="@Html.DisplayFor(modelItem => item.image)" alt="@Html.DisplayFor(modelItem => item.nom_produit)" class="img-responsive image_produits_detail" />
                        <div class="details">
                            <div id="description_produit">
                                @Html.DisplayFor(modelItem => item.description)
                            </div>
                            <div class="item-box">
                                Prix : @Html.DisplayFor(modelItem => item.prix) : &euro;
                            </div>
                        </div>
                    </div>
                </a>
                <div class="addPane--button">
                    @using (Html.BeginForm("AddPanier", "Paniers"))
                    {
                        <input class="bouton" type="submit" value="Ajouter au panier" />
                        <input name="quantite" class="qte" value="1" />
                        <input name="id_produit" class="id" value="@item.id" style="visibility: hidden;" />
                        <input name="IdPage" class="IdPage" value="@ViewBag.idPage" style="visibility: hidden;" />
                    }
                </div>
            </div>
        </div>
    }
</div>
<p class="right">
    @Html.ActionLink("Retour", "index", "Home")
</p>
<br />
<br />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


