@model IEnumerable<TestProjet.Models.Produit>

@{
    ViewBag.Title = "Index";
}

<div class="cont-cat">
    @foreach (var item in Model)
    {
        <div class="item-cat">
            <div class="product--detail">
                <a href="@Url.Action("Details","Produits", new { id = item.id })">
                    <div>
                        <h3 class="text-center">@Html.DisplayFor(modelItem => item.nom_produit)</h3>
                        <img src="@Html.DisplayFor(modelItem => item.image)" alt="@Html.DisplayFor(modelItem => item.nom_produit)" class="img-responsive image_produits_detail" />
                        <p id="description_produit">
                            @Html.DisplayFor(modelItem => item.description)
                        </p>
                        <p>
                           Prix : @Html.DisplayFor(modelItem => item.prix) : &euro; 
                        </p>
                    </div>
                </a>
            </div>
            <div>
                @Html.ActionLink("Ajouter au panier", "AddToPanier", "Paniers", new { id_produit = item.id, quantite =   }, new { @class = "bouton", @style = "color:white" })


            </div>
            <div class="addPane--button">
                @using (Html.BeginForm())
                {
                    <input class="bouton" type="submit" value="Ajouter au panier"/>
                    <input class="id" value="@item.id" style="visibility: hidden;" />
                    <input class="qte" value="1" />
                    <input class="IdPage" value="@ViewBag.idPage" style="visibility: hidden;"/>
                }




                <div class="addPane addPane--buy addPane--Liste" id="addPane--Liste" onclick="ShowCurrentTime()">
                    Ajouter au panier<!-- <img class="icone" src="~/Content/Image/icone/panier.jpg"> -->
                    <input type="text" class="product_id"  style="visibility:hidden;" value="@Html.DisplayFor(modelItem => item.id)"/>
                </div>
                
                    QTE : <input class="qte" value="1" />
            
                
            </div>
            
        </div>
    }
</div>
<p>
    @Html.ActionLink("Retour", "index", "Home")
</p>

<p>
    A supprimer!
    @Html.ActionLink("Gestion", "gestion")
</p>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


